[Desktop Entry]
Encoding=UTF-8
Name=Link to Array.prototype.filter() - JavaScript | MDN
Type=Link
URL=https://developer.mozilla.org/de/docs/Web/JavaScript/Reference/Global_Objects/Array/filter
Icon=text-html
